
.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .table-row-cell .table-cell {
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-alignment: center-left;
}







