<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">
            <![CDATA[jdbc:mysql://localhost:3306/njult?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8]]>
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.id.new_generator_mappings">false</property>

        <mapping class="nju.lighting.po.commodity.CommodityItemPO" />
        <mapping class="nju.lighting.po.commodity.CommodityCategoryPO" />
        <mapping class="nju.lighting.po.repository.RepositoryChangePO" />
        <mapping class="nju.lighting.po.repository.RepositoryTableItemPO" />
        <mapping class="nju.lighting.po.account.AccountPO" />
        <mapping class="nju.lighting.po.account.AccountLogPO" />
        <mapping class="nju.lighting.po.user.UserPO" />
        <mapping class="nju.lighting.po.customer.CustomerPO" />
        <mapping class="nju.lighting.po.promotion.PromotionPO" />
        <mapping class="nju.lighting.po.promotion.PromotionPackageItemPO" />
        <mapping class="nju.lighting.po.init.InitPO" />
        <mapping class="nju.lighting.po.log.LogPO" />
        <mapping class="nju.lighting.po.doc.alertdoc.AlertDocPO" />
        <mapping class="nju.lighting.po.doc.alertdoc.AlertDocItemPO" />
        <mapping class="nju.lighting.po.doc.accountiodoc.AccountIODocPO" />
        <mapping class="nju.lighting.po.doc.accountiodoc.AccountTransferItemPO" />
        <mapping class="nju.lighting.po.doc.costdoc.CostDocPO" />
        <mapping class="nju.lighting.po.doc.costdoc.CostDocItemPO" />
        <mapping class="nju.lighting.po.doc.giftdoc.GiftDocPO" />
        <mapping class="nju.lighting.po.doc.giftdoc.GiftItemPO" />
        <mapping class="nju.lighting.po.doc.lossandgaindoc.LossAndGainDocPO" />
        <mapping class="nju.lighting.po.doc.lossandgaindoc.LossAndGainItemPO" />
        <mapping class="nju.lighting.po.doc.salesdoc.SalesDocPO" />
        <mapping class="nju.lighting.po.doc.salesdoc.SalesReturnDocPO" />
        <mapping class="nju.lighting.po.doc.salesdoc.SalesDocItemPO" />
        <mapping class="nju.lighting.po.doc.stockdoc.StockDocPO" />
        <mapping class="nju.lighting.po.doc.stockdoc.StockReturnDocPO" />
        <mapping class="nju.lighting.po.doc.stockdoc.StockDocItemPO" />

    </session-factory>

</hibernate-configuration>